@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">G4 Parking</h1>
    <hr />
    <p> </p><br><br><br><br>
</div>
<div class="d-flex justify-content-center mt-3">
    <a href="@Url.Action("Create", "Vehicles")" class="btn btn-primary w-50">Park a Vehicle</a>
</div>

<div class="d-flex justify-content-center mt-3">
    <a href="@Url.Action("Delete", "Vehicles")" class="btn btn-primary w-50">Pick up a Vehicle</a>
</div>

<div class="d-flex justify-content-center mt-3">
    <a href="@Url.Action("Create", "Member")" class="btn btn-primary w-50">Become a member</a>
</div>