@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the counties parking lot</h1>
    <p>Please press the Park-in button to begin parking your vehicle if you are already a member...Otherwise click on Become a Member to begin parking...</p>
</div>
